.form {
    position: absolute;
    z-index: 3;
    top: 15px;
    left: 20px;
    background-color: rgb(231, 122, 255);
    border: 2px solid #5d0cff;
    outline: none;
    background: transparent;
    color: #fff;
    font-style: Sans-serif;
}